/*
Thanks for using my theme! - Takaovi (HXR)

If you want to change the background just edit the URL on the line 10.

Check for updates here - https://github.com/Takaovi/OB2-DarkGlass
*/
app {
    /* Image from the internet | If you want a local image change the URL to /images/yourimage.jpg | Place the image on OpenBullet 2's wwwroot > images folder */
    background: rgb(0 0 0 / 72%) url(https://i.imgur.com/UoJzcni.png);
	
    background-blend-mode: darken;
    background-size: cover;
}
.main > div {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
    background: rgb(0 0 0 / 12%);
    box-shadow: 0 0 20px 20px #0000006b;
    backdrop-filter: blur(5px);
}
.sidebar {
    background-color: #0005;
    width: 230px;
    min-width: 230px;
    transition: 0.5s;
    overflow-y: auto;
}
:root {
    --bg-secondary: #0000;
	--bg-dark: #0000;
	--bg-light: #ffffff30
}
.debugger-log {
    background-color: #000000a8;
    border-radius: 10px;
    border: 2px solid #ffffff33;
}
.list-group-horizontal > button:not(:first-child) {
    margin-left: 0.25rem;
    background-color: rgb(0 0 0 / 15%);
}
.navbar-footer {
    position: fixed;
    bottom: 0px;
    height: 62px;
    width: 229px;
    z-index: 1;
    background: #0000002e;
    backdrop-filter: blur(5px);
}
.col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    background: rgb(70 70 70 / 11%);
}
.col-12, .col-xl-2 {
    margin-bottom: 0px;
}
input:not([type=checkbox]), textarea {
    background: rgb(0 0 0 / 35%);
    color: #fff;
    border: 1px solid #e2363600;
    padding: 3px 6px 3px 6px;
    font-family: var(--consolas);
    margin-bottom: 15px;
    margin: 0;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    align-self: center;
    margin: 5px;
}
.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    align-self: center;
}
.stacker-block {
    margin-block: 2% 2%;
}
.stacker-block-body {
    font-size: 16px;
    padding: 5px 0px;
}
.multiple-selector {
    display: flex;
    width: 95%;
}
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    backdrop-filter: blur(3px);
    background-color: rgb(31 31 31 / 32%);
}
select {
    margin-left: 5px !important;
    background-color: #0000006e;
    color: var(--fg-primary);
    border-radius: 5px;
    border: 1px solid var(--bg-dark);
    padding: 3px;
}
.p-2 {
    border-radius: 5px;
    border: 2px solid;
    border-image: url(https://i.imgur.com/swTnyOP.gif) 30;
    background-color: #00000033 !important;
}
.input-group {
    border: 0px solid #ccc;
}
.bg-interpolated {
    background-color: #00000036 !important;
}
.bg-light {
    background: #67676763;
}
.card-text {
    color: #000;
}
.debugger-log {
    margin-left: 1%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-left: 0%;
}
.container.pt-2.px-1 {
    border-radius: 5px;
    margin-bottom: 5px;
    padding-bottom: 7px;
    background: rgb(0 0 0 / 38%);
}
.bulletta-messagebox {
    background-color: #000000f0;
}
form {
     padding-bottom: 5px;
}
.page-item .page-link {
    color: #fff !important;
    background-color: #1f1f1f4f !important;
}
.bg-variable {
    background-color: #0000004a !important;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
    background-color: rgb(0 0 0 / 0%);
}
.list-group-horizontal > button:not(:first-child) {
    margin-left: 0.25rem;
    background-color: rgb(0 0 0 / 31%);
}
table.grid-table tr.grid-row-selected td {
    color: unset;
    background: #8080803b !important;
}
.fg-fail.mb-3:after {
    color:white;
    content: "\a You're currently using the DarkGlass theme! Visit the Github (github.com/Takaovi/OB2-DarkGlass) for more information and updates.";
    white-space: pre;
}
.swal2-popup {
    background-color: #000000cc !important;
    border-radius: 5px !important;
    backdrop-filter: blur(3px);
    border: 2px solid;
    border-image: url(https://i.imgur.com/swTnyOP.gif) 30;
}
.swal2-success-circular-line-left {
	background-color: #00000000 !important;
}
.swal2-success-circular-line-right {
	background-color: #00000000 !important;
}
.swal2-success-fix {
	background-color: #00000000 !important;
}
ol, ul, dl {
    background: rgba(0,0,0,0.35);
}
.font-weight-bold {
    padding-left: 10px;
}
.fg-fail {
    padding-left: 10px;
}
.fg-ban {
    padding-left: 10px;
}
b, strong {
    padding-left: 10px;
}
.job-viewer-config-image {
    padding-left: 10px;
    padding-bottom: 10px;
}
.debugger-log textarea {
    background: rgb(0 0 0 / 43%);
}
.grid-footer {
    padding-bottom: 7px;
}
.blazored-modal {
    background: rgb(19 19 19 / 76%);
    backdrop-filter: blur(3px);
    border-image: url(https://i.imgur.com/swTnyOP.gif) 30;
}
.blazored-modal-overlay {
    backdrop-filter: blur(3px);
    background-color: rgb(31 31 31 / 32%);
}
.triggered-action-container {
	border: solid 0px var(--fg-dark);
}
.ui-tabview-panels {
    border: solid 0px #00000000;
}
.ui-tabview-nav li {
    border: solid 0px #ffffff;
}
.config-item {
    background-color: #8080803b !important;
}
